header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 2em;
    height: 10vh;

    .logo {
        width: 130px;
        height: 40px;
    }

    a {
        margin-inline-start: 1em;
        color: #fff;
        font-size: 1.5em;
    }
}